<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<p th:text="${car.getNum()}">VALUE</p>
<p th:text="${car.getMark()}">VALUE</p>
<p th:text="${car.getColor()}">VALUE</p>
<p th:text="${car.getForeignString()}">VALUE</p>
<br/><br/>
<a th:href="@{/admin/cars/{id}/edit(id=${car.getId()})}">edit</a>
<form th:method="DELETE" th:action="@{/admin/cars/{id}(id=${car.getId()})}">
    <input type="submit" value="Delete!"/>
</form>
</body>
</html>