<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getBookName()}">VALUE</p>
<p th:text="${book.getNumber()}">VALUE</p>
<p th:text="${book.getAuthor()}">VALUE</p>
<p th:text="${book.getPublicationYear()}">VALUE</p>
<br/><br/>

<div th:if="${owner}">
    <span>Owner of the book is:  </span>
    <span th:text="${owner.getName()}">name</span>
    <form th:method="PATCH" th:action="@{/bookshelf/{number}/release(number=${book.getNumber()})}">
        <input type="submit" value="Release the book"/>
    </form>
</div>

<div th:if="${people}">
    <span>The book is available. Choose owner:   </span>
    <form th:method="PATCH" th:action="@{/bookshelf/{number}/assign(number=${book.getNumber()})}">
        <label for="person">Choose person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Assign the book"/>
    </form>
</div>

<br/><br/>
<a th:href="@{/bookshelf/{number}/edit(number=${book.getNumber()})}">edit</a>
<form th:method="DELETE" th:action="@{/bookshelf/{number}(number=${book.getNumber()})}">
    <input type="submit" value="Delete!"/>
</form>
</body>
</html>